.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  padding: 200px 0;
}

.title {
  color: var(--color-text-error);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
}
